body {
    background-color: #5EBAD1;
    color: white;
  font-family: 'Roboto', sans-serif;
}

:focus {
  outline: 4px solid #000000;
}

h1 {
  display: flex;
  align-content: center;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: flex-end;

}
li {
  list-style: none;
  margin: 20px;
}

button {
  height: 100px;
}

img {
  width: 300px;
  height: 300px;
}

.place_container {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

img {
  margin: 50px;
}

h2, p, .button {
  align-self: center;
  margin-left: 50px;
}

.button {
  border: solid 1px black;
  height: 30px;
  color: black;
}

a {
  color: rgb(86, 169, 207);
}

.btn {
  font-size: 2em;
  margin: 10px;
  background-color: #ffffff;
  color: #000000;
  display: inline-block;
  padding: 20px;
}

.btn:focus {
  outline: 4px solid #000000;
}

.container {
  display: inline-block;
}

.instructions {
  margin: 8px;
}


/* tabindex */
.button-0{
  background-color: grey;
  color: white;
}
